**Python Code**

In [9]:
from IPython.core.shellapp import List
n = input()
n.lower()
l= len(n)-1
a=""
begin = l+1
end = l+1
while (l>=0):
  if(n[l]==" "):
    begin=l+1
    while (begin!= end):
      a+=n[begin]
      begin+=1
    a+=" "
    end=l
  l-=1
begin = 0
while(begin!= end):
  a+=n[begin]
  begin+=1

print(a.capitalize())

b= a.split()

def high_count(b):
  for i in range (2):
    a = max(set(b),key=b.count)
    print(a," : ",b.count(a))
    b.remove(a)

high_count(b)

This declaration represents a political commitment among declaration partners to advance a positive vision for the Internet in this era of a united europe
Europe united a of era this in internet the for vision positive a advance to partners declaration among commitment political a represents declaration this
a  :  3
declaration  :  2

**Assignment 2 SQL**

In [ ]:
CREATE TABLE CustomerID (
    Customer_Id varchar(255)
);
INSERT INTO CustomerID values(Abhinash);
INSERT INTO CustomerID values(Vipin);
INSERT INTO CustomerID values(Mahesh);
INSERT INTO CustomerID values(Bijoy);
INSERT INTO CustomerID values(Bhabani);
INSERT INTO CustomerID values(Ashutosh);

CREATE TABLE VoucherID (
    Voucher_Id varchar(255)
);
INSERT INTO VoucherID values(ABXFH);
INSERT INTO VoucherID values(SDFGH);
INSERT INTO VoucherID values(ERTYY);
INSERT INTO VoucherID values(PPLKM);

SELECT CustomerID.Customer_Id, VoucherID.Voucher_Id
FROM CustomerID
FULL OUTER JOIN VoucherID ON CustomerID.Customer_Id=VoucherID.Customer_Id
ORDER BY CustomerID.Customer_Id;

**Assignment 2 SQL**

In [ ]:
SELECT Sale_Qty FROM Purchase_History
SELECT Cat_Id, Product_Id FROM Product_Catalogue
GROUP BY Sale_Qty, Product_Id
ORDER BY COUNT(Cat_Id);